<div class="container color-light">

    <div class="col">
        <p>Añade un elemento de lista de deseos antes de morir</p>
    </div>

    <div class="col">
        <p>Tú lista</p>
    </div>

</div>

<div class="container color-light">

    <div class="col">
        <p class="sm">Usa esta forma para añadir una nueva meta a tu lista. ¿Qué quiéres hacer con tu vida?</p>

        <form>

            <input type="text" class="txt" name="item" placeholder="Cosa que hacer antes de morir...">
            <input type="submit" class="btn" value="Añadir meta">


        </form>

    </div>

    <div class="col">
        <p class="life-container">
            No se que hacer con mi vida
        </p>


    </div>


</div>